.container{
  margin:0 auto;
  width: 600px;
  border: 1px #FFAC55 solid;
}

.sn{ 
top: 10px;
width: 30px;
padding: 1px 3px 1px 3px;
text-align: center;
font-weight: bold;
font-size: 15px;
border-radius: 50%;
color: #fff;
background: #FF5151;
}

.content{
width: 500px;
padding: 14px 60px;
}

.flex{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:600px;
}

.inputText{
margin: 10px;
font-size:.3in;
}

.inputTable {
width: 20%;
height: 20%;
margin: 0 auto;
background-color: #F3F3FA;
}

.button1 {
background-image:url(img/Red.png);
width:300px;
height:500px;
}

.button1:hover {
filter: brightness(50%);
}

.button2 {
background-image:url(img/Blue.png);
width:300px;
height:500px;
}

.button2:hover {
filter: brightness(50%);
}